* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#ea4335, #e8ca35);
}

.container {
  width: 700px;
  margin: 100px auto;
  text-align: center;
}

.container video {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.control {
  width: 78%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid red;
  overflow: hidden;
  display: flex;
}

.bar {
  width: 26%;
  background: #888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changeVideo {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content:  space-between;
}

.prev,
.next {
  background: none;
  color: #444;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.prev:hover,
.next:hover {
  text-decoration: underline;
}
